[submodule "yarn-cluster"]
	path = yarn-cluster
	url = https://github.com/szairi2011/yarn-cluster.git

[submodule "spark-jobs"]
	path = spark-jobs
	url = https://github.com/szairi2011/spark-jobs.git

[submodule "airflow-dags-prod"]
	path = airflow-dags-prod
	url = https://github.com/szairi2011/airflow-dags-prod.git

[submodule "data-governance"]
	path = data-governance
	url = https://github.com/szairi2011/data-governance.git
[submodule "data-quality-contracts"]
	path = data-quality-contracts
	url = https://github.com/szairi2011/data-quality-contracts.git
[submodule "data-platform-portal"]
	path = data-platform-portal
	url = https://github.com/szairi2011/data-platform-portal.git

[submodule "core-banking"]
	path = core-banking
	url = https://github.com/szairi2011/core-banking.git

[submodule "denodo-endpoints"]
	path = denodo-endpoints
	url = https://github.com/szairi2011/denodo-endpoints.git
[submodule "referentiel-conditions-clients"]
	url = https://github.com/szairi2011/referentiel-conditions-clients.git
